h1{
    color: black;
}
h2{
    color: dimgray;
}
h3{
   color:black;
   
}
li{
    color: black;
    width: 50%;
}
.left-column{
    width: 20%;
  background: aliceblue;
    float: left;
}
.right-column{
    width: 20%;
   background: rgb(175, 207, 233);
    float:right;
}