<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

	<title>AngularJS for beginner</title>
</head>
<body ng-controller="MyController">
<div class="container">
	<div class="card mt-3">
		<div class="card-header bg-primary text-white">
         Input product's detail information
		</div>
		<div class="card-body">
			<form method="post" ng-submit="saveData()">
				<div class="form-group mb-3">
					<label>Froduct Name: </label>
					<input required type="text" name="fullname" class="form-control" placeholder="Enter fullnane" ng-model="fname">
				</div>
				
				<div class="form-group mb-3">
					<label>Category Name: </label>
					<input required type="text" name="age" class="form-control" placeholder="Enter name" ng-model="age">
				</div>
				
				<div class="form-group mb-3">
					<label>Age: </label>
					<input required type="number" name="age" class="form-control" placeholder="Enter Age" ng-model="age">
				</div>
                <div class="form-group mb-3">
					<label>Address: </label>
					<input required type="text" name="address" class="form-control" placeholder="Enter Address" ng-model="address">
				</div>
				
				<div class="form-group mb-3">
					<button class="btn btn-success">Save</button>

					
				</div>
			</form>
		</div>
	</div>

	<div class="card mt-3" >
		<div class="card-header bg-primary text-white">
		Management Student's Detail Information
		</div>
		<div class="card-body">
			<input type="text" name="s" placeholder="Management Student's Detail Information" class="form-control" style="width: 300px" ng-model="s">
			<table class="table table-bordered table-hover mt-3">
				<thead>
					<tr>
						<th>No</th>
						<th>Full Name</th>
						<th>Age</th>
						<th>Address</th>
						<th style="width: 50px;"></th>
						<th style="width: 50px;"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in feedbackList | filter:s">
						<td>{{ $index + 1 }}</td>
						<td>{{ item.fullname | uppercase }}</td>
						<td>{{ item.age }}</td>
						<td>{{ item.address | uppercase}} </td>
					
						<td>
							<button class="btn btn-danger" ng-click="deleteItem($index)">xóa</button>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>

<script type="text/javascript">
	var app = angular.module('MyApp', [])

	app.filter('searching', function() {
		return function(feedbackList, s) {
			if(s == undefined || s == '' || s == null) {
				return feedbackList;
			}

			s = s.toLowerCase()
			var newItems = []

			for(var item of feedbackList) {
				if(item.fullname.toLowerCase().includes(s) || item.phone.toLowerCase().includes(s)) {
					newItems.push(item)
				}
			}

			return newItems;
		}
	})

	app.controller('MyController', ['$scope', function ($scope) {
		$scope.feedbackList = []
		$scope.currIndex = -1
		$scope.feedback_on_off = true

		$scope.saveData = function() {
			var data = {
				"fullname": $scope.fname,
				"age": $scope.age,
				"address": $scope.address,
			
			}
			if($scope.currIndex >= 0) {
				$scope.feedbackList[$scope.currIndex] = data
				$scope.currIndex = -1
			} else {
				$scope.feedbackList.push(data)
			}
		}

		$scope.deleteItem = function(index) {
			var option = confirm('Are you sure to delete this item?')
			if(!option) return

			$scope.feedbackList.splice(index, 1)
		}

		$scope.editItem = function(index) {
			$scope.currIndex = index

			$scope.fname = $scope.feedbackList[index].fullname
			$scope.age = $scope.feedbackList[index].age
			$scope.address= $scope.feedbackList[index].address
		}

		$scope.resetData = function() {
			$scope.fname = ""
			$scope.age = ""
			$scope.address = ""
			
		}
	}])
</script>
</body>
</html>